<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribe</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
    <h2>Save 50% on credit bill </h2>
    <p id = "link">Click <a href="/Ngage+919012345678" class="link" id="unsubscribe " style="margin-right: 10px;">https://Ngage/uitry234</a> to unsubscribe </p>

  </div>
</body>
</html>