<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Unsubscribe</title>
</head>
<body>
     <div class="container">
    
		<h2 id ="header">Oh! You want to unsubscribe ? </h2>
        
        <p>Hi,<span id = "mobileNbr"><%= mobileNbr %></span></p>
		<p id = "message">  We hate goodbyes, But if you change yor mind, we'll always be here with something fun to share.</p>
        <span id = "senderId"><%= senderId %></span> 
     	    <br>
		   	<br>
		<button  class="btn" id="unsubscribe">Unsubscribe</button>
        <div class="emoji shocked" id = "emoji">
	      <figure class="face">
	        <span class="eyes">
	          <span class="eye"></span>
	          <span class="eye"></span>
	        </span>
	        <span class="mouth">
	        </span>
	      </figure>
	    </div>
		  
	  </div>
      <script type="module" src="js/unsubscribe.js"></script>
      
</body>
</html>